//META{"name":"Small-members-tab","description":"Make the members tab smaller(it gets full size when you hover it).","author":"Beard_Design","version":"1.4.0"}*//{}

/*-------------------made by Beard Design-------------------------*/
.channel-members{
    transform:translate(0px);
    z-index:10;
    transition:all 300ms ease;
}
.channel-members:hover{
    animation: member 300ms ease;
    transform:translate(-150px);
}
.app {
    overflow-x: hidden;
}

.channel-members .member .member-activity,
.channel-members .member .member-username-inner{
    opacity:0;
    transition:all 100ms ease;
    
}
.channel-members .member .member-username-inner{
    margin-bottom:0px;
}
.channel-members:hover .member .member-activity,
.channel-members:hover .member .member-username-inner{
    opacity:1;
}
.header-toolbar button.active{
    display:none;
}
.channel-members h2{
    transform-origin:left;
    transform:scale(0.7);
    padding:0px 0px 0px 10px;
    transition: all 300ms ease;
}
.channel-members:hover h2{
    transform:scale(1);
    padding:0px 0px 0px 30px;
}
.channel-members .avatar-small{
    transform:scale(1.2);
}
.channel-members:hover .avatar-small{
    transform:scale(1);
}

.chat.flex-vertical.flex-spacer.private>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical{
    margin-right:0px;
    z-index:0
}
.channel-members-wrap{
    min-width:90px!important;
    width:90px!important
}

/*-------------------made by Beard Design-------------------------*/
