//META{"name":"Small-members-tab","description":"Make the members tab smaller(it gets full size when you hover it).","author":"Beard_Design","version":"1.5.0"}*//{}

/*-------------------made by Beard Design-------------------------*/
.members-1998pB {
    transform:translateX(0px);
    z-index:999;
    transition: transform 400ms cubic-bezier(.2,0,0,1);
    will-change: transform;
}
.members-1998pB:hover {
    transform:translateX(-150px);
}
.app {
    overflow-x: hidden;
}

.members-1998pB .member-3W1lQa .activity-1IYsbk,
.members-1998pB .member-3W1lQa .memberInner-2CPc3V {
    opacity:0;
    transition: transform 100ms ease, opacity 100ms ease;
    
}
.members-1998pB:hover .member-3W1lQa .activity-1IYsbk,
.members-1998pB:hover .member-3W1lQa .memberInner-2CPc3V {
    opacity:1;
}
.header-toolbar button.active{
    display:none;
}

.members-1998pB .membersGroup-v9BXpm {
    transform:translateX(-50%)scale(0.7);
    transition: 400ms cubic-bezier(.2,0,0,1), max-width 1ms;
    width:auto;
    display: inline-block;
    min-width: 10px;
    left:45px;
    position: relative;
    flex-basis: auto;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 90px;
    right:45px;
    padding-left:0;
    padding-right: 0;
}
.members-1998pB:hover .membersGroup-v9BXpm {
    transform:translateX(-15px) scale(1);
    max-width: 180px;
}

.members-1998pB .avatar-16XVId {
    transition: transform 400ms ease;
    transform:translateX(15px)scale(1.2);
}
.members-1998pB:hover .avatar-16XVId {
    transform:translateX(0)scale(1);
}

.chat.flex-vertical.flex-spacer.private>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical{
    margin-right:0px;
    z-index:0
}
.membersWrap-2h-GB4{
    min-width:90px!important;
    width:90px!important
}

/*-------------------made by Beard Design-------------------------*/
